<%- include('head.ejs')%>
<style>
    #cont{

    }
    .msg{
        background-color: lightgray;
        margin-left: 1%;
        margin-top: 1%;
    }
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textBoxSize{
        width: 90%;
        height: 100px;
    }
    .buttonSize{
        height: 100px;
        width: 100px;
    }
    .content {
        overflow:auto;
        height: 80%;
    }
    .footer {
        height: 100px;
    }
    .background{
        background-color: lightgray;
        height: 80%;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
    }
    #myForm{

    }
    .image{
        height: 30px;
        width: 30px;
        padding-right: 5px;
    }
    .msgCont{
        display: flex;
        margin-left: 1%;
        margin-top: 1%;
        margin-right: 1%;
        margin-bottom: -25px;
    }
    .msgText{
        display: block;
        padding-left: 5px;
    }
    .text{
        margin-left: 5%;
    }
</style>
<script>
    function postMessage(message){
        var UN = document.createElement("p");
        UN.append(test);

        var msg = document.createElement("p");
        msg.append(message);
        msg.classList.add("text")

        var div = document.createElement("div");
        var outerDiv = document.createElement("div");

        var pic = document.createElement("img");
        pic.src = test2;
        pic.classList.add("image");
        div.appendChild(pic);

        div.appendChild(UN);

        div.classList.add("msgCont")

        outerDiv.append(div);
        outerDiv.append(msg);

        outerDiv.classList.add("msgText");

        var cont = document.getElementById("cont");
        cont.appendChild(outerDiv);

        event.preventDefault();
        document.getElementById("myForm").reset();
        tag.scrollIntoView();
        window.setTimeout( function () { top(); }, 2000 );
    }

</script>

<div class="background">
    <div class="msg">
        <div id="cont" class="content">

        </div>
    </div>

    <footer class="footer">
        <form id="myForm" class="centered">
            <input type="text" id="msg" class="textBoxSize">
            <input type="submit" class="buttonSize" value="Send" onclick="postMessage(document.getElementById('msg').value)">
            <script>
                var test = '<%=username%>';
                var test2 = '<%=path%>';
            </script>
        </form>
    </footer>
</div>
