<%- include('head.ejs')%>
<style>
    .item1 {
        grid-area: header;
        height: 200px;
    }
    .item2 {
        grid-area: menu;
        height: 804px;
    }
    .item3 {
        grid-area: main;
        height: auto;
    }
    .item4 {
        grid-area: right;
        height: 580px;
    }
    p{
        padding-left: 2%;
    }
    .grid-container {
        background-image: url("https://images.hdqwalls.com/wallpapers/vaporwave-zl.jpg") !important;

        display: grid;
        grid-template-areas:
            '. header header header header .'
            'menu main main main main right'
            'menu main main main main right';
        gap: 10px;
        background-color: white;
        padding: 10px;
    }

    .grid-container > div {
        background-color: rgb(242, 242, 242);
        text-align: left;
        font-size: 30px;
        border-color: #FF10F0;
        border-style: solid;
    }
    .block {
        display: block;
        width: 96%;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        padding: 100px;
        margin: 2%;
    }
    .blockTrending {
        display: block;
        height: 125px;
        width: 125px;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: auto;
    }
    .blockRight {
        display: block;
        width: 96%;
        background-color: darkgrey;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: 2%;
        padding: 30px;
    }
    .block:hover {
        background-color: #ddd;
        color: black;
    }
    .blockRight:hover {
        background-color: #ddd;
        color: black;
    }
    .blockTrending:hover{
        background-color: #ddd;
        color: black;
    }
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trending{
        display: block;
        margin: auto;
    }
    .trending > p{
        font-size: 20px;
        margin-bottom: 0;
    }
    .favorites{
        display: block;
        margin: auto;
    }
    .favorites > p{
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .main{
        display: block;
        margin: auto;
    }
    .main > p{
        margin-bottom: -20px;
    }
    .btn-size {
        overflow:hidden;
        display: block;
    }
    .adBlock{
        overflow:hidden;
        display: block;
        background-color: darkgrey;
        cursor: pointer;
        text-align: center;
    }
    button {
        padding: 0;
        border: 0;
    }
    .ads{
        display: block;
        margin: auto;
    }
    .img-size{
        margin-right: -98px;
        margin-bottom: -2px;
    }

</style>
<div class="background"></div>
<div class="grid-container">
    <div class="item1 centered">
        <div class="trending">
            <p>Title</p>
            <button class="blockTrending">Block Button</button>
        </div>
        <div class="trending">
            <p>Title</p>
            <button class="blockTrending">Block Button</button>
        </div>
        <div class="trending">
            <p>Title</p>
            <button class="blockTrending">Block Button</button>
        </div>
        <div class="trending">
            <p>Title</p>
            <button class="blockTrending">Block Button</button>
        </div>
        <div class="trending">
            <p>Title</p>
            <button class="blockTrending">Block Button</button>
        </div>
    </div>
    <div class="item2">
        <div class="img-size">
            <button class="adBlock" onclick="window.location.href = 'https://playvalorant.com/en-us/?gclid=CjwKCAjw6dmSBhBkEiwA_W-EoAgh1lHdzMCyQY7omW-rRzAwNPWDytHjm-OElMhJnrFta_ZJuq1BthoCICwQAvD_BwE&gclsrc=aw.ds'"><img src="./images/test.jpg"></button>
        </div>
    </div>
    <div class="item3">
        <p>From forums you watch:</p>
        <div class="main">
            <p>Title 1</p>
            <button class="block" onclick="window.location.href = 'http://localhost:3000/post_name'">Block Button</button>
        </div>
        <div class="main">
            <p>Title 2</p>
            <button class="block" onclick="window.location.href = 'http://localhost:3000/post_name'">Block Button</button>
        </div>
        <div class="main">
            <p>Title 3</p>
            <button class="block" onclick="window.location.href = 'http://localhost:3000/post_name'">Block Button</button>
        </div>
        <div class="main">
            <p>Title 4</p>
            <button class="block" onclick="window.location.href = 'http://localhost:3000/post_name'">Block Button</button>
        </div>
    </div>
    <div class="item4">
        <label>Favorites</label>
        <div class="favorites">
            <p>Title 1</p>
            <button class="blockRight">Block Button</button>
        </div>
        <div class="favorites">
            <p>Title 2</p>
            <button class="blockRight">Block Button</button>
        </div>
        <div class="favorites">
            <p>Title 3</p>
            <button class="blockRight">Block Button</button>
        </div>
        <div class="favorites">
            <p>Title 4</p>
            <button class="blockRight">Block Button</button>
        </div>
    </div>
</div>
