<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <image src="./images/Logo.png" height="200" width="auto"></image>
    <h1><%= title %></h1>
  </body>
</html>
